html
    meta(property="og:title" content="Plush Miku!")
    meta(property="og:description" content="Plush Miku.")
    meta(property="og:image" content="/icon.jpg")
    head
        title= title
    body
        h1= message
        img(src= image)