html(lang='en')
    meta(property="og:title" content="Plush Miku!")
    meta(property="og:description" content="Plush Miku.")
    meta(property="og:image" content="/icon.png")
    meta(name="theme-color" content="#86CECB")
    style
        include index.css
    head
        title= title
    body
        h1= message
        hr(class="solid")
        img(src= image)
        div(class="text-center")
            button(onclick="location.reload()") Reload